body {
  background-color: white;
  color: black;
}

.special-purple {
  color: rgb(87, 58, 162);
}

/* Nav Bar */
.nav-text {
    color: black;
    font-size: 1.5vw;
}

.white {
  color: white;
}

.nav-separate li {
  border-left: solid black .2vw;
  border-right: solid black .2vw;
  margin-right: .4vw;
  margin-left: .4vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.nav-separate :first-child {
  border-left: none;
}

.nav-separate :last-child {
  border-right: none;
}

#topLogos {
  padding-top: 3vw;
}

.skull_1 {
  border-left: .1vw solid black;
  width: 20vw;
  display: block;
  margin: auto;
}

.skull_2 {
  width: 20vw;
  display: block;
  margin: auto;
}

#titleLine {
  margin-top: 3vw;
}

.title {
  text-align: center;
  font-size: 3.5vw;
  font-weight: bold;
}

.topLeft {
  padding-left: 2vw;
}

.employees {
  margin-top: 6vw;
}

.identifier {
  border-left: .1vw solid black;
  padding-left: 2vw;
}

.emailLogo {
  width: 2vw;
}

.socialLinks {
  margin-top: 12vw;
  font-size: 3.5vw;
  /* margin-left: vw; */
}

.fa-facebook-square, .fa-instagram {
  color: black;
  margin-left: 2vw;
  margin-right: 3vw;
}

.fa-facebook-square:hover, .fa-instagram:hover {
  color: black;
}

footer {
  margin-top: 20vw;
  margin-bottom: 10vw;
}
