.nav-separate {
  border-left: solid red .2vw;
}

#scrollText {
  position: fixed;
  font-size: 2.5vw;
  top: 1vw;
  left: 91vw;

  opacity: 1;
  transition: 1s opacity;
}

.logo {
  position: fixed;

  /* Center Aligned */
  /* top: -.5vw; */
  width: 60vw;
  left: 13vw;
  margin-left: auto;
  margin-right: auto;
}


.leftLines {
  position: fixed;
  top: 20vw;
  left: .5vw;
  width: 2vw;
}

.rightLines {
  position: fixed;
  top: 24vw;
  left: 97.5vw;
  width: 2vw;
}
