/* Nav Bar */
.nav-text {
    color: black;
    font-size: 1.5vw;
}

.white {
  color: white;
}

.nav-separate li {
  border-left: solid black .2vw;
  border-right: solid black .2vw;
  margin-right: .4vw;
  margin-left: .4vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.nav-separate :first-child {
  border-left: none;
}

.nav-separate :last-child {
  border-right: none;
}



/* Logo */
.crop {
    width: 100vw;
    height: 30vw;
    overflow: hidden;
    background: white;
}

.crop img {
  display: block;
  margin: auto;
  width: 50vw;
  margin-top: -3vw;
}


/* Projects Title */
.title {
  margin-top: -1vw;
  font-size: 5vw;
  margin-left: 4vw;
  text-shadow: -3.5vw -3.5vw black;
}

.title img {
  width: 70vw;
}

/* image slideshow */
#carouselWithControls {
  margin: auto;
  /* width: 50vw; */
  max-width: 60vw;
  max-height: 40vw;
  overflow: hidden;
}

#carouselWithControls div img {
  margin: auto;
  /* display: block; */
  max-width: 60vw;
  max-height: 40vw;
  width: auto;
  height: 100%;
  /* height: auto;
  max-width: 50vw; */
  /* object-fit:scale-down; */
  /* position: relative;
  top: 80%;
  transform: translateY(-10%); */
}

#separator {
  width: 98vw;
  padding-top: 2vw;
}
